body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.fotos {
    display: flex;
    gap: 10px;
}

.fotos img {
    width: 200px; /* Ajuste conforme necessário */
}

.videos {
    margin-top: 20px;
}

.videos iframe {
    width: 560px; /* Ajuste conforme necessário */
    height: 315px; /* Ajuste conforme necessário */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}